# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações do editor
.vscode/

# Dependências (caso use npm no futuro)
node_modules/

# Logs
*.log
# vídeos locais — não vão para o Git
*.mp4
*.mkv
*.avi
*.mov
*.webm
/assets/videos/